<% layout('layouts/boilerplate') %>
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
      <!-- The novalidate boolean attribute added to your <form> disables the browser default feedback tooltips, 
      but still provides access to the form validation APIs in JavaScript. Essentially tells the brower to not do the validations -->
      <form action="/campgrounds/" method="post" novalidate class="validated-form">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="campground[title]" required>
          <div class="valid-feedback">Looks great!!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="campground[location]" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image URL</label>
          <input class="form-control" type="text" id="location" name="campground[image]" required>
        </div>

        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">$</span>
          <input type="text" class="form-control" placeholder="0.00" id="price" aria-describedby="basic-addon3"
            name="campground[price]" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="10"
            required></textarea>
        </div>
        <button class="btn btn-success mb-3">Add Campground</button>
      </form>
      <a href="/campgrounds/">All Campgrounds</a>
    </div>
  </div>